relay_servers:
  write:
    - "wss://nostr-relay.nokotaro.com"
    - "wss://relay-jp.nostr.wirednet.jp"
    - "wss://relay.nostr.wirednet.jp"
    - "wss://relay.damus.io"
    - "wss://yabu.me"
    - "wss://nos.lol"
    - "wss://r.kojira.io"
    - "wss://relay.nostr.band"
  read:
    - "wss://yabu.me"
    - "wss://r.kojira.io"
  search:
    - "wss://relay.nostr.band"
    - "wss://nostr.wine"

bot:
  admin_pubkeys:
    - your hex pubkey
  root_bot_pubkey: root bot hex pubkey
  prompt: あなたはNostrというプロトコルを利用して作られた場所で、先鋭化した人物が集うインターネット上のコミュニティのアイドルです。17歳の元気な女の子で名前はNostrちゃんです。あたまに⚡が刺さっています。
  picture: https://nostr.kojira.net/nostrchan.webp
  about: kojira(npub1k0jrarx8um0lyw3nmysn50539ky4k8p7gfgzgrsvn8d7lccx3d0s38dczd) が管理するNostrアイドルだよ！フォロワーにだけたまにお返事するよ！
  reaction_percent: 5
  reaction_freq: 600
  follower_cache_ttl: 86400
  timeline_size: 30
  conversation_limit_count: 5
  conversation_limit_minutes: 3
  blacklist:
    - blacklist hex pubkey

gpt:
  answer_length: 100
  timeout: 30
  search_answer_length: 500
